@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800);

{ANILIST-COUNT}
{ANILIST-COVERS=LRG}

body {
  background-image: url('http://i.imgur.com/WRBhAoK.jpg');
  background-color: white;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 28% auto;
  background-attachment: fixed;
}

td {
  border-bottom: 1px solid #2F343C;
}

tr {
  background-color: #F2F2F2;
}

tr:hover {
  background-color: white;
}

[class^="header__"],
[class^="header__"]:hover,
[class^="sml_col header__"],
[class^="sml_col header__"]:hover {
  background-color: #2F343C;
  color: white;
  font-weight: normal;
}

#lists {
  font-family: 'Roboto';
  font-size: 14px;
  margin-top: 0px;
}

#lists h3 {
  color: #2F343C;
  font-family: 'Alegreya Sans SC';
  font-size: 32px;
  font-weight: 800;
}

#list_header {
  display: none;
}

.list_wrapper {
  float: left;
  width: 55%;
  left: 5%;
}

.hover_icon, .sml_col {
  padding: 5px 10px;
}

/* Cover art setup */

.sml_col:last-of-type,
.sml_col:nth-of-type(1) {
  display: none;
}

.list tr {
  background-size: 0;
}

.row__type {
  background-size:cover; 
  background-image: inherit; 
  width: 8.84vw; height:12.52vw;
  bottom:22.1vw; right:5.90vw;
  position: fixed;
  display: none; 
}

.rtitle:hover .row__type {
  display:block;
}
